
.btn{

padding:12px;

border-radius:8px;

border:none;

cursor:pointer;

font-weight:bold;

}



.btn-primary{

background:#ff7a00;

color:white;

}

/* ESTILO BARRA DE MENU..............................................*/
.navbar{

display:flex;

justify-content:space-between;

align-items:center;

background:#ff5e007e;

padding:15px 30px;

border-bottom:2px solid #ff7a00;

}



.navLeft{

display:flex;

align-items:center;

gap:15px;

}



.logo{

width: 60px;
padding: 0px;
margin: 0px;
}



.navRight{

display:flex;

align-items:center;

gap:20px;

}

/*....................................................................*/

.btnBack{

background:#334155;

color:white;

border:none;

padding:8px 15px;

border-radius:6px;

cursor:pointer;

}



.btnLogout{

background:#dc2626;

color:white;

border:none;

padding:8px 15px;

border-radius:6px;

cursor:pointer;

}


.card{

background:#0f172a;

padding:20px;

border-radius:12px;

box-shadow:0 5px 15px rgba(0,0,0,0.3);

}


.btnMisApuestas {
  background: #1e293b;
  color: #ff7a00;
  border: 1px solid #ff7a00;
  padding: 8px 15px;
  border-radius: 6px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1px;
  transition: all 0.2s;
}

.btnMisApuestas:hover {
  background: #ff7a00;
  color: white;
}
