@font-face {
  font-family: 'AkaPosse';
  src: url('../font/AkaPosse.ttf') format('truetype');
}


body{

background:#020617;

color:white;

font-family: 'Montserrat', sans-serif;

letter-spacing: 2px;

margin:0;

}

h1{

padding:0px;
color:white;
font-family: 'AkaPosse';
font-size:100px;

}

.contenedor_partidos{

padding:s0px;
margin: 40px;

}


.partidoCard{

background:#0f172a;

padding:20px;

margin-bottom:20px;

border-radius:12px;

border-left:5px solid #ff7a00;

box-shadow:0 5px 15px rgba(0,0,0,0.3);

}



.equipos{

display:flex;

justify-content:space-between;

align-items:center;

font-size:18px;

margin-bottom:100px;

}



.marcador{

display:flex;

justify-content:center;

align-items:center;

gap:15px;

}



.goles{

width:60px;

height:40px;

text-align:center;

font-size:18px;

border-radius:8px;

border:none;

background:#020617;

color:white;

}



.guardarBtn{

margin-top:15px;

width:100%;

padding:12px;

background:#ff7a00;

border:none;

border-radius:8px;

color:white;

font-weight:bold;

cursor:pointer;

}



.guardarBtn:hover{

background:#ea580c;

}



.fecha{

color:#94a3b8;

font-size:14px;

margin-bottom:10px;

}



.bloqueado{

opacity:.5;

pointer-events:none;

}



.estadoPartido{

background:#16a34a;

padding:5px 10px;

border-radius:15px;

font-size:12px;

}
